.purple-color{
	color:white;
	background-color:#7011C0;
	border-color:#7011C0
}

.purple-color:hover{
	background-color: #5b0b9e;
	border-color: #5b0b9e;
}

.upload-btn-wrapper {
   display: flex;
  align-items: center;
  justify-content: center;
}

.upload-btn {
  border: 2px solid #7011C0;;
  color: white;
  padding: 8px 20px;
  background-color:#7011C0;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}


.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  opacity: 0;
}