
#menu {
  position: fixed;
  right: 0;
  bottom: 3%;
  width: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #8a4dafdb;
  padding-left: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

}

.list-inline-item>a{
  color: white;
  font-size: 14px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1; }

.visit{
	color: black !important;
  font-weight: bold;
}

.hour{
	color: #7011c0 !important;
	font-weight: bold;
}

.see-service{
	margin-top: 3px;
	background-color: #5572dc !important;
	border-color: #5572dc !important;
}
.btn-add{
	background-color: #22d640 !important;
	color: white !important;
}

.list-group{
  max-height: 500px;
  margin-bottom: -10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.edith-prospect{
	align-content: right;
}

.text-edith{
	color:orange;
}

.list-grid{
	max-height: 500px !important;
  overflow: scroll !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.mobile-img{
		display: none;
	}

  .dataTables_wrapper .dataTables_filter {
    float: center !important; 
    text-align: center !important;  
  }

  .d-none {
    display: none!important;
  }

  #menu {
    top: unset;

  }

  .signUpModal {
    top: 20% !important;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-corner{
	width: 5px;
}

.btn-circle {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge-secondary {
  color: #fff;
  background-color: #7011C0;
}

.name-prospect{
	font-size: 0.8rem;
}

.folio, .visit, .hour, .edithtext {
	font-size: 0.7rem !important;
}

.usr {
  color: black !important;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_filter {
 float: unset; 
 text-align: unset; 
}

[type=search] {
  border: white;
  border-radius: 10px;
  -moz-box-shadow:    1px 2px 10px 1px #ccc;
  -webkit-box-shadow: 1px 2px 10px 1px #ccc;
  box-shadow:         1px 2px 10px 1px #ccc;
}

.dataTables_filter{
  margin-top: 10px;
}

.bg-login-image {
  background: url(../img/agents.jpg);
  background-position: center;
  background-size: cover;
}

.bg-login-images {
  background: url(../img/home-service.jpg);
  background-position: center;
  background-size: cover;
}

.bg-gradient-primary {
  background-color: #7011C0;
  background-image: linear-gradient(180deg,#7011C0 10%,#00000 100%);
  background-size: cover;
}

.btn-google {
  color: #fff;
  background-color: #ea4335;
  border-color: #fff;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #fff;
} 

.label-design{
  font-size: 1.2rem;
}

.design-label{
  font-size: 1.2rem;
}

.npleft{
  padding-left: unset;
}
.nobottom{
  margin-bottom: unset;
}

.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  background-color: #8a4daf;
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, .26);  
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 4.6;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, .3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, .4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform .2s;  
  color: white;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: ' ';
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: #8a4dafdb;
  transition: all .3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(.68, 1.55, .265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 1.2em;
  right: .2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: #8a4dafdb;
  transition: transform .3s ease, background .2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0,0%,0%,.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(0.5em,-10.5em,0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-4em,-9.8em,0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-7.5em,-7.2em,0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-9.8em,-3.5em,0);
}

.circular-menu.active .menu-item:nth-child(5) {
  transform: translate3d(-10.5em,0.7em,0);
}

.circular-menu.active .menu-item:nth-child(6) {
  transform: translate3d(-6em,.7em,0);
}

.circular-menu.active .menu-item:nth-child(7) {
  transform: translate3d(-5.5em,-2.9em,0);
}

.circular-menu.active .menu-item:nth-child(8) {
  transform: translate3d(-3em,-5.5em,0);
}

.circular-menu.active .menu-item:nth-child(9) {
  transform: translate3d(0.5em,-6.3em,0);
}


/**
 * The other theme for this menu
 */

.circular-menu.circular-menu-left {
  right: auto; 
  left: 1em;
}

.circular-menu.circular-menu-left .floating-btn {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left:after {
  background-color: hsl(217, 89%, 61%);
}

.circular-menu.circular-menu-left.active .floating-btn i {
  transform: rotate(90deg);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(1) {
  transform: translate3d(0.5em,-10.5em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(2) {
  transform: translate3d(-4em,-9.8em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(3) {
  transform: translate3d(-7.5em,-7.2em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(4) {
  transform: translate3d(-9.8em,-3.5em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(5) {
  transform: translate3d(-10.5em,0.7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(6) {
  transform: translate3d(-6em,.7em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(7) {
  transform: translate3d(-5.5em,-2.9em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(8) {
  transform: translate3d(-3em,-5.5em,0);
}

.circular-menu.circular-menu-left.active .menu-item:nth-child(9) {
  transform: translate3d(0.5em,-6.3em,0);
}

td{
  max-width: 200px !important;
  overflow-X: scroll !important;
}

.notext{
  font-size: 1.5rem;
}

.hide{
  display: none;
}

.modal-header {
  border-bottom: unset;
}

.modal-footer {

  border-top: unset;
}

.totalSuccess{
  font-size: 2.5rem;
  text-shadow: 2px 2px 5px black;
}


.signUpModal {
  position: relative;
  top: 25%;
  bottom: auto;
}

.dot {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 65px;
}

.modal-header {
  display: unset;
}


.form-check-input {
    position: unset;
    margin-top: 0.3rem;
    margin-left: unset;
}